.classpath
.project
.settings/*
target/*
tags
docs/*.vrb
docs/*.aux
docs/*.log
docs/*.nav
docs/*.out
docs/*.pdf
docs/*.snm
docs/*.toc
docs/*.vrb  
bb_report/*.vrb
bb_report/*.aux
bb_report/*.log
bb_report/*.nav
bb_report/*.out
bb_report/*.pdf
bb_report/*.snm
bb_report/*.toc
bb_report/*.vrb 
